<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OSF_403">
    <test name="OSF_403">
        <parameter name="browserName" value="chrome"></parameter>
        <parameter name="useGrid" value="False"></parameter>
        <classes>
            <class name="OSF_403"/>
        </classes>
    </test>
</suite>