<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite of suites">
    <suite-files>
        <suite-file path="api.xml"/>
        <!--<suite-file path="load.xml"/>-->
        <!--<suite-file path="ui.xml"/>-->
        <!--<suite-file path="fortest.xml"/>-->
    </suite-files>
</suite>

